<%= render "shared/header_question" %>

<div class="container_wrap">
  <div class="under_header">
    <div style="color: red;" class="Time_Line">
      <p class="Time-Line">Time Line</p>
    </div>
    <div style="color: red;" class="Search_Words">
      <p class="Search-Words">Post or Search</p>
    </div>
    <div style="color: red;" class="Tags_List">
      <p class="Tags-List">Populars</p>
    </div>
  </div>
  <div class="main_container">
    <div class="left_side_container">
      <% @questions.each do |question|%>
        <div class="box">
          <i class="fas fa-angle-right"></i>
          <%= link_to question.title, question_path(question.id), class:"title" %>
            <% if current_user.already_favorited?(question) %>
              <%= link_to question_favorites_path(question), method: :DELETE, class:"fav_heart" do %> 
                <i class="fas fa-heart"></i> 
              <% end %> 
            <% else %> 
              <%= link_to question_favorites_path(question), method: :POST, class:"fav_heart" do %> 
                <i class="far fa-heart"></i> 
              <% end %> 
            <% end %> 
          <%= question.favorites.count %>
          <%= link_to question_path(question.id) , method: :delete, class:"delete" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="center_container">
      <%# <div class="post_btn_container"> %>
        <%= link_to new_question_path, class: "post-btn" do %>
          <button class="post_btn">
            <i class="fas fa-angle-up"></i>
            <p>POST</p>
          </button>
        <% end %>
      <%# </div> %>
      <div class="search_form">
        <%= form_with(url: search_questions_path , local: true, method: :get, class: "search-form") do |f| %>
          <div class="search_input">
            <%= f.text_field :keyword, placeholder: "\uf002  Let's Search for Questions!!", class: 'fa' %>
          </div>
          <div class="search_btn"> 
            <%= f.submit "GO", class: "search-btn" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="right_side_container">
      <% @popular_questions.each_with_index do |question, i|%>
        <div class="box">
          <% if i == 0 %>
            <i class="fas fa-crown">  </i>
            <%= link_to question.title, question_path(question.id), class:"title" %>
            <% if current_user.already_favorited?(question) %>
              <%= link_to question_favorites_path(question), method: :DELETE, class:"fav_heart" do %> 
                <i class="fas fa-heart"></i> 
              <% end %> 
            <% else %> 
              <%= link_to question_favorites_path(question), method: :POST, class:"fav_heart" do %> 
                <i class="far fa-heart"></i> 
              <% end %> 
            <% end %>
            <%= question.favorites.count %>
            <%= link_to question_path(question.id) , method: :delete, class:"delete" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% else %>
            <i class="fas fa-angle-right"></i>
            <%= link_to question.title, question_path(question.id), class:"title" %>
            <% if current_user.already_favorited?(question) %>
              <%= link_to question_favorites_path(question), method: :DELETE, class:"fav_heart" do %> 
                <i class="fas fa-heart"></i> 
              <% end %> 
            <% else %> 
              <%= link_to question_favorites_path(question), method: :POST, class:"fav_heart" do %> 
                <i class="far fa-heart"></i> 
              <% end %> 
            <% end %> 
            <%= question.favorites.count %>
            <%= link_to question_path(question.id) , method: :delete, class:"delete" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>  
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer_question" %>

