<%= render "shared/header_question" %>

<h2 style="color: red;" class="time_line">
  TimeLine
</h2>

<div class="container">
  <div class="left_side_container">
    <% @questions.each do |question|%>
      <div class="box">
        <i class="fas fa-angle-right"></i>
        <%= link_to question.title, question_path(question.id), class:"title" %>
          <% if current_user.already_favorited?(question) %>
            <%= link_to question_favorites_path(question), method: :delete, class:"fav_heart" do %> 
              <i class="fas fa-heart"></i> 
            <% end %> 
          <% else %> 
            <%= link_to question_favorites_path(question), method: :post, class:"fav_heart" do %> 
              <i class="far fa-heart"></i> 
            <% end %> 
          <% end %> 
        <%= question.favorites.count %>
        <%= link_to question_path(question.id) , method: :delete, class:"delete" do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="center_container">
    <div class="search_form">
      <%= form_with(url: search_questions_path , local: true, method: :get, class: "search-form") do |f| %>
        <div class="search_input">
          <%= f.text_field :keyword, placeholder: "Let's Search Questions!!", class: "search-input" %>
        </div>
        <div class="search_btn"> 
          <%= f.submit "GO", class: "search-btn" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="right_side_container">
  </div>
</div>

<%= render "shared/footer_question" %>
