<%= render "shared/header_question" %>

<div class="question_wrap">
  <div class="question_details_header">
    Let's Try !!!
  </div>
  <div class="question_box">
    <%= form_with(model: [@question, @answer], url: question_answers_path(@question.id), method: :POST, local: true) do |f| %>
      <div class="question_details">
        <div class="question_content">
          <%= @question.content %> 
        </div>
        <ul style="list-style: none;" class="choices">
          <li class="choice">
            <%= f.radio_button :user_answer, 1, class:"radio_btn" %>
            <%= f.label :user_answer, @question.choice_1, {value: 1}%>
          </li>
          <li class="choice">
            <%= f.radio_button :user_answer, 2, class:"radio_btn" %>  
            <%= f.label :user_answer, @question.choice_2, {value: 2} %>
          </li>
          <li class="choice">
            <%= f.radio_button :user_answer, 3, class:"radio_btn" %>  
            <%= f.label :user_answer, @question.choice_3, {value: 3} %>
          </li>
          <li class="choice">
            <%= f.radio_button :user_answer, 4, class:"radio_btn" %>  
            <%= f.label :user_answer, @question.choice_4, {value: 4} %>
          </li>
        </ul>
      </div> 
      <div class="question_submit">
        <%= f.submit value: "GO",class:"submit-btn" %> 
      </div>
    <% end %>
    <%= link_to "back to TimeLine", questions_path %> 
  </div>
</div>
