<%= render "shared/header_speak" %>

<div class="speak_container">
  <div class="speak_title">
    Let's Cast your Voice!!!
  </div>
  <div class="voice_container">
    <div class="voice_header">
      CAST
    </div>
    <%= form_with model: @speak, url: speaks_path, class:"speak-form" ,local: true do |f| %>
      <%= f.text_field :subject, placeholder: "subject", class:"speak-subject" %>
      <%= f.text_area :voice, placeholder: "Cast Voice", class:"speak-voice", rows: 4 %>
      <%= f.submit "GO", class:"speak-btn" %>
    <% end %>
  </div>
</div>

<%= render "shared/footer_speak" %>
