<%= render "shared/header_speak" %>

<div class="my_page">
  <h1>My Page</h1>
  <p>Hello!!!<%= @user.nickname%>!!!</p>
  <div class="own_favorite_questions">
    <%= link_to "Favorite Questions", favorites_users_path%>
  </div>
  <div class="questions_you_posted">
    <% @questions.each do |question| %>
      <div class="question_you_posted">
        <i class="fas fa-angle-right"></i>
        <%= link_to question_path(question.id), class:"question-you-posted" do %>
          <%= question.title %>
        <% end %>
        <% if current_user.id == question.user.id %>
          <%= link_to edit_question_path(question.id), class:"edit-question" do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to question_path(question.id) , method: :delete, class:"delete",data: {confirm: "Are you sure to delete?"} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer_speak" %>
