<%= render "shared/header_question" %>

<h3>Thank you for your solving my question!!!</h3>

<% if @answer.user_answer == @question.answer_num %>
  <p>GOOD JOB!!!</p>
  <p style="border-bottom: solid 1px tomato;">Explanation</p>
  <div style="border: solid 2px black;">
    <%= @question.explanation %>
  </div>
<% else %>
  <p>TRY AGAIN!!!</p>
  <%= link_to "Retry!!", question_path(@question.id) %><br>
<% end %>

<%= link_to "TOP PAGE", questions_path %>


<%= render "shared/footer_question" %>
